<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>任大侠的博客</title>
    <style>
        
    </style>
</head>
<body>
<div id="container">
    <div id="header">
        <nav id="nav">
            <a class="header_a" href="#">联系我 </a>
            <a class="header_a" href="/about.html">关于我 &nbsp;</a>
            <a class="header_a" href="/index.html">主页 &nbsp;</a>
        </nav>
        <p class="p1">这是任庭玉的博客</p>
        <p class="p2">没有敲不出来的代码，没有攻克不了的难关!!!</p>
    </div>
</div>
</body>
</html>
