<div id="list"> 
    <p>{{site.baseurl}}</p>
    {% for post in paginator.posts %}
    <article class="post">
		<header class="entry-header">
			 <div class="entry-meta"> 
				 <span class="posted-on"><time class="entry-date published" date="2013-06-17">{{ post.date }}</time></span>
			 </div> 
			 <h1 class="entry-title"><a href="{{post.url}}" rel="bookmark">{{ post.title }}</a></h1>
		</header> 
		<div class="entry-content"> 
			<p><img alt="" src="{{post.path}}"></p>
			<p>{{post.excerpt}}<a href="single.html" class="more-link">继续阅读&#8230;</a></p>
		</div> 
	</article>
	{% endfor %}
	

{% if paginator.total_pages > 1 %}
  

  <!-- {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %} -->

{% for page in (1..paginator.total_pages) %}
	{% if page == 1 %}
		<li><a href="/index.html">{{ page }}</a></li>
  {% else %}
		<li><a href="{{ site.paginate_path | prepend: site.baseurl |replace: '//', '/' | replace: ':num',page  }}">{{ page }}</a><li>
	{% endif %}
{% endfor %}

 <div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; 上一页</a>
  {% else %}
    <span>&laquo; 上一页</span>
  {% endif %}


  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页 &raquo;</a>
  {% else %}
    <span>下一页 &raquo;</span>
  {% endif %}
</div>
{% endif %}

</div>
	
	

    
	    
	
	
    
		    
        
		


