<div id="list"> 
    {% for post in paginator.posts %}
    <h1>1111</h1>
  <!-- <article class="post">
		<header class="entry-header">
			 <div class="entry-meta"> 
				 <span class="posted-on"><time class="entry-date published" date="2013-06-17">{{ post.date }}</time></span>
			 </div> 
			 <h1 class="entry-title"><a href="{{post.url}}" rel="bookmark">{{ post.title }}</a></h1>
		</header> 
		<div class="entry-content"> 
			<p><img alt="" src="images/mac.jpg"></p>
			<p>{{post.excerpt}}<a href="single.html" class="more-link">继续阅读&#8230;</a></p>
		</div> 
	</article> -->
    {% endfor %}
</div>
	
	

    
	    
	
	
    
		    
        
		


